.div-img-produit {
    width: 100%; 
    height: auto; 
    /* height: min(max(0.8rem, 1.5vw), 2rem); */
    overflow: hidden;
}

.div-img-produit img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.produit-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: min(max(0.8rem, 2vw), 3rem);
}